server:
  port: 8080
spring:
  application:
    name:
      financial
  datasource:
    url: jdbc:h2:mem:mydb
    username: sa
    password:
  jpa:
    show-sql: true
  h2:
    console:
      enabled: true
  security:
    jwt:
      secret-key: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30"
      expiration-ms: 864000000